@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* logo : https://cdn.pixabay.com/photo/2018/08/14/11/59/silhouette-3605401_1280.png */

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  height: 100%;
  background: url('https://cdn.pixabay.com/photo/2019/03/08/20/17/beauty-salon-4043096_1280.jpg') no-repeat center center;
  background-size: 100% 100%;
  min-width: 1024px;
}

/* NAVBAR SETTINGS */
header{
  position: fixed;  
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to bottom, 
    #2b2b2b, 
    #2e2e2e, 
    #323232, 
    #353535, 
    #393939);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo-wrapper {
  height: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div h1.logo__heading {
  margin: 0;
  color: #fffffa;
  font-family: 'Playfair Display', sans-serif;
  font-size: 5.2rem;
  margin-left: 1.5rem;
  padding: 0.5rem 1rem;

}

/* LOGO */
.header__logo {
  height: 5rem;
  background-color: #fffffa;
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.nav-link {
  display: block;
  color: #fff;
  width: auto;
  height: auto;
  text-decoration: none;
  padding: 1rem .5rem;
} 
/* NAVBAR SETTINGS */

main {
  max-width: 1024px;
  height: auto;
  width: 95%;
  margin: 0 auto;
  margin-top: calc(100vh + 12rem);
}

section {
  height: 100vh;
  width: 100%;
  border: 1px solid #2b2b2b;
}

